.App {
  text-align: center;
}
.items {
  padding: 21px;
}

.item {
  box-sizing: border-box;
  height: max-content;
  width: max-content;
  padding: 2.125em 0 1.25em;
  user-select: none;
  position: absolute;
  transition: background-color 0.1s ease-in-out;
  cursor: grab;
}
.item .is-active {
  background: rgba(255, 255, 255, 0.9);
  cursor: grabbing;
}